.card {
  display: none;

  &--active {
    display: block;
  }

  &--locked {
    display: block;
    opacity: 0.5;
  }

  &__categories {
    padding: 10px;
    padding-left: 30px;
  }

  &__category {
    margin-bottom: 20px;

    &-label {
      display: flex;
    }

    &-input {
      width: 100%;
      margin-top: 8px;
    }
  }
}
