.card {
  display: none;

  &--active {
    display: block;
  }

  &--locked {
    display: block;
    opacity: 0.5;
  }

  &__letter {

  }

  &__categories {

  }

  &__category {
    &-label {

    }

    &-input {

    }
  }
}
